body {
    margin: 0;
    font-family: 'inter',sans-serif;
}
header {
    font-size: x-large;
    color: white;
    background-color: #00bcd4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
header img {
width: 150px;
}
footer img {
    width: 6ss0px;
}
img {
    width: 100px;
}
.result {
    padding: 10px;
    max-width: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.text {
margin: 5px;
padding: 10px;
border-radius: 10px;
border: 1px solid #00bcd4;
}
marquee {
    background-color: #00bcd4;
    color: white;
    padding: 5px;
}
button {
    color: white;
    background-color: #00bcd4;
    padding: 10px;
    border-color: white;
    border-radius: 10px;
}
button:hover {
    color: #00bcd4;
    background-color: white;
    border-color: #00bcd4;
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
}
   .container {
            max-width: 600px;
            width: 90%;
            border: 1px solid #444;
            border:none;
            border-radius: 10px;
            background: #ffffff;
            padding:5px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            margin:2em;
            display: flex;
            flex-direction: column;
            position: fixed;
            top:4em;
        }
        hr {
            border: 0.5px solid #666; 
        }
        text {color:#000;}
.container img {
    width: 30px;
}